%ul.breadcrumb
  %li Вы сейчас здесь
  %li
    = link_to root_path, :class => 'glyphicons dashboard' do
      %i
      Главная
  %li.divider
  %li Новая продажа
.heading-buttons
  %h3
    Новая продажа
.separator.bottom
.innerLR
  .widget.widget-tabs.widget-tabs-double.widget-tabs-vertical.row-fluid.row-merge
    .widget-head.span3
      %ul
        %li{ class: "#{ :active if @step == 'client' }" }
          = link_to '#step-1', :class => 'glyphicons user' do
            %i
            %span.strong Шаг 1
            %span Информация о клиенте
        %li{ class: "#{ :active if @step == 'order' }" }
          = link_to '#step-2', :class => 'glyphicons calculator' do
            %i
            %span.strong Шаг 2
            %span Бланк-заказ
        %li{ class: "#{ :active if @step == 'confirm' }" }
          = link_to '#step-3', :class => 'glyphicons credit_card' do
            %i
            %span.strong Шаг 3
            %span Подтверждение
    .widget-body.span9
      = form_for @user, url: transaction_orders_path, method: :post do |f|
        = hidden_field_tag :step, @step
        .tab-content
          #step-1.tab-pane{ class: "#{ :active if @step == 'client' }" }
            = f.fields_for :client, @client do |ff|
              = render 'clients/form', { f: ff }
          #step-2.tab-pane{ class: "#{ :active if @step == 'order' }" }
            = f.fields_for :order, @order do |ff|
              = render 'form', { f: ff}
          #step-3.tab-pane{ class: "#{ :active if @step == 'confirm' }" }
            %h4 Подтвердите введенные данные
            %b
              %br Клиент:
            Юр. лицо #{@client.name}
            %br ИНН компании #{@client.inn}
            Название фирмы #{@client.code}
            %hr
            %b
              %br Заказ:
            - if @order.employee
              Город #{@order.city.name}
              %br Куратор #{@order.employee.initials}
              Клиент #{@client.name}
              %br Сумма заказа, руб #{sprintf('%.2f', @order.ordersum)}
              #{@order.startdate.strftime('Дата начала %d.%m.%Y')}
              %br #{@order.finishdate.strftime('Дата окончания %d.%m.%Y')}
              #{@order.orderdate.strftime('Дата заказа %d.%m.%Y')}
              %br Номер бланка #{@order.ordernum}
              Предыдущий бланк #{@order.order_id}
              %br Пролонгация #{@order.continue == 1 ? 'да' : 'нет'}
              %hr
        = f.submit wizard_button_name, class: 'btn btn-icon btn-primary'
